/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/lato-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/lato-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* abril-fatface-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/abril-fatface-v24-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$font-sizes: (
  s: clamp(0.8889rem, 0.8667rem + 0.1111vw, 1rem),
  base: clamp(1rem, 0.95rem + 0.25vw, 1.25rem),
  m: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem),
  l: clamp(1.2656rem, 1.1588rem + 0.5344vw, 1.8rem),
  xl: clamp(1.4238rem, 1.2766rem + 0.7362vw, 2.16rem),
  xxl: clamp(1.6018rem, 1.4038rem + 0.9902vw, 2.592rem),
  xxxl: clamp(2.0736rem, 1.0961rem + 4.8873vw, 3.9609rem),
);

$ff-primary: "Lato", sans-serif;
$ff-secondary: "Abril Fatface", serif;

$fw-400: 400;
$fw-700: 700;
$fw-900: 900;
