@use "../abstracts/" as *;
@use "sass:color";

.hero {
  min-height: 85vh;
  background-image: url("/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  align-content: center;
  gap: $space-base;
  color: var(--clr-neutral-100);
  &__buttons {
    @extend %flex;
    justify-content: center;
  }
}

.food {
  --min-col-size: 350px;
  --gap: #{$space-l};
  background-color: var(--clr-neutral-100);

  &__img {
    @media (width > 767px) {
      transform: translateY(calc((var(--section-padding) + 2rem) * -1));
      box-shadow: 5px 5px 10px hsl(from var(--clr-neutral-900) h s l / 0.3);
    }
  }
}

.features {
  background-color: var(--clr-neutral-200);

  .heading {
    @include underline();
  }
}

.meals {
  --min-col-size: 275px;

  background-image: url(/assets/meals-bg.png);
  background-size: cover;
  color: var(--clr-neutral-100);

  &__content {
    grid-template-rows: 1fr max-content;
  }

  .heading {
    --ht-color: var(--clr-neutral-100);
    --he-color: var(--clr-neutral-100);
    @include underline();
  }

  .sub-heading {
    font-size: fs(s);
  }

  .normal-text {
    line-height: 1.2;

    color: var(--clr-neutral-100);
    font-size: fs(s);
  }
}
//! -----------------------------------
//? Lets try subgrid approach with this section later
//! -----------------------------------
.meal {
  $parent: &;

  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  position: relative;
  overflow: hidden;

  &__photo {
    grid-row: span 2;
  }

  &__description {
    grid-row: 2 span 1;
    padding: $space-m;
    background-color: hsl(from var(--clr-neutral-900) h s l / 0.5);
    backdrop-filter: blur(3px);
  }
  @include media-min(small) {
    &__description {
      opacity: 0;
      visibility: hidden; // Prevents interaction when invisible
      transition: opacity $t-duration, visibility 0s $t-duration; // Transition opacity, then hide visibility
    }
    &:hover {
      #{$parent}__description {
        opacity: 1;
        visibility: visible;
        transition: opacity $t-duration, visibility 0s 0s;
      }
    }
  }
}

.testimonials {
  --min-col-size: 300px;
  background-color: var(--clr-neutral-100);

  &__content {
    grid-template-rows: max-content 1fr max-content;
  }
}

.testimonial {
  display: grid;
  grid-template-rows: subgrid;
  gap: 0;
  grid-row: span 3;
  @extend %shadow;
  &__content {
    padding: $space-xl;
    position: relative;
    isolation: isolate;
    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 1rem;
      top: -1rem;
      width: 10rem;
      height: 10rem;
      z-index: -1;
      background-image: url(/assets/quote-svgrepo-com.svg);
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.1;
    }
  }

  &__img {
    width: 100%;
  }
  &__creator {
    padding: $space-s;
    background-color: var(--clr-neutral-200);
  }
  &__name {
    font-size: fs(m);
    font-weight: $fw-700;
    margin-bottom: 0.25em;
    color: var(--clr-primary-400);
  }

  &__role {
    font-size: fs(s);
    color: var(--clr-neutral-500);
  }
}
